/* Estilo para el contenedor de saldoPesos y saldoDolar */

.h2, h2 {
    font-size: 5rem;
}

.saldo-container {
    display: flex;
    justify-content: center;
}

/* Estilo específico para los divs dentro del contenedor */
.saldo-container div {
    display: inline-block;
    margin: 0 10px; /* Ajusta el margen según tus preferencias */
}


/* style.css */

/* style.css */

.tarjeta {
    width: 100%; /* Modificado para ocupar todo el ancho */
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.tarjeta:hover {
    background-color: #f0f0f0;
}
